.navbar{

    background-color: steelblue;
    
        }
     .navbar .nav-link{
         color: whitesmoke;
    
     }
    
     /* Header class styling*/
    
     .header{
    
    background-color: red;
    height: 500px;
    position: relative;
    background-image: url('../Week2/headerback.jpg');
    
     }
    .header .container-fluid{
    
    
       
         height: 200px;
         position: absolute;
         top: 180px;
     }
    
     .container-fluid h1,h6,h4{
         text-align: center;
        
     }
    
     .overlay{
                 /*	position: absolute;*/
                    min-height: 100%;
                    min-width: 100%;
                    left: 0;
                    top: 0;
                    background: rgba(244, 244, 244, 0.79) ;
                     }   
    
    /* Card  above description Code Below*/
    .abc .container-fluid{
        position: relative;
        top: 60px;
      /*  background-color: aqua;*/
    
    }
    .best{
       /* position: absolute;*/
        top: 20px;
        text-align: center;
    }
    .abc p{
    
        text-align: center;
    }
     /*   
    .abc .text{
        width: 50%;
        position: absolute;
        left: 390px;
        top: 80px;
    }*/
    
    
    /* card image code below*/
    
    
    .blog{
            margin: 4em 0;
             position: relative;	
             top: 70px;
                  } 
    
        .blog .card{
              box-shadow: 0 0 20px #ccc;  /* explain this */
                 } 
    
        .blog .card img{
               width: 100%;
               height: 12em;
                 }
    
    .blog button{
        background: steelblue;
    
    }
    
    
    .card-link{
        color: whitesmoke;
    }
    .card-body{
    
        background-color: orange;
    }
        
       
    
    /*Enhanced geatures style below*/
    
    .pqr{
    
        position: relative;
        top: 70px;
        
    }
    
    .pqr .row{
        position: relative;
        top: 30px;
    }
    /*
    .pqr .text2{
        
        width: 70%
        position: absolute;
        left: 390px;
        top: 80px;
    }*/
    
    /* enhanced features images style below*/
    
    .pqr .card img{
               width: 100%;
               height: 12em;
                 }
    .pqr p {
    
    text-align: center;
    }
    
    /* contact styling below*/  /*there are some issues related to positioning*/
    
       .contact{
                position: relative;
                
                top: 80px;
               }
    
       .contact h1,h5{
                  text-align: center;
                    }
    
       .contact .right{
        
        max-width: 1000px;
       /* position: relative;*/
        /*  left:259px;*/
          top: 50px;
        
       }
    
       .contact .form-group textarea{
    
           height: 300px;
       }
    
       /* footer styles below*/
    
       .footer{
    
           background-color: blueviolet;
           height: 100px;
           position: relative;
           top: 200px;
       }
    
    /* footer styling below*/
    .footer .adjust{
    
        position: relative;
        top: 70px;
    }